%main.container.general-img-wrap
  %h1.general-title-margin Cart
  .visible-xs
    = render 'order_itmes_extra'
  .hidden-xs
    = render 'order_items'
  .general-order-wrap
    .row
      .col-sm-8
        .res-mr-200.text-center.general-text-right
          %p.in-gold-500.font-18 Order Summary
          %table.general-summary-table.general-summary-table-right.general-text-right
            %tr
              %td
                %p.font-16 Subtotal:
              %td
                %p.font-16 $228.32
            %tr
              %td
                %strong.font-18 Order Total:
              %td
                %strong.font-18 $228.32
          = link_to "Checkout", checkout_path, class: "btn btn-default mb-20 visible-xs-inline-block"
  .text-center
    = link_to "Checkout", checkout_path, class: "btn btn-default mb-20 hidden-xs"


