%main.container.general-main-wrap
  %h1.general-title-margin Checkout
  %ul.steps.list-inline
    %li.step.done
      %span.step-number 1
        %i.fa.fa-check.step-icon
      %span.step-text.hidden-xs Address
    %li.step-divider
    %li.step
      %span.step-number 2
      %span.step-text.hidden-xs Delivery
    %li.step-divider
    %li.step
      %span.step-number 3
      %span.step-text.hidden-xs Payment
    %li.step-divider
    %li.step
      %span.step-number 4
      %span.step-text.hidden-xs Confirm
    %li.step-divider
    %li.step
      %span.step-number 5
      %span.step-text.hidden-xs Complete
    .text-center.mb-40
      %h3.general-subtitle Thank you for making Order
      %p.fw-300 Order confirmation was sent on your e-mail
    .row.mb-20
      .col-sm-6
        .visible-xs
          %p.general-order-number.mb-40 Order #BS228
          %p.general-address January 1, 2000
        %p.general-address
          Jack Jones
          %span.general-edit edit
          %br
          3333
          %br
          1111
          %br
          2222
          %br
          4444
      .col-sm-6.hidden-xs.text-right
        %p.general-order-number.mb-0 Order #BS228
        %p.general-address.mb-30 January 1, 2000
    .visible-xs
      .general-cart-item.divider-lg
        .general-img-wrap-table
          %img.cart-img-shadow{src: 'https://images-na.ssl-images-amazon.com/images/I/81Kq0YS4lzL.jpg', alt: "design-book"}
        %p.title Harry Potter and Philosopher's Stone
        %p.in-grey-600.fw-300 Story about little magician....
        %table.table
          %tr
            %td
              %span.in-grey-600 Price
            %td
              %span.font-16.in-gold-500 $19.99
          %tr
            %td.vertical-middle
              %span.in-grey-600 Quantity
            %td
              %span 1
          %tr
            %td
              %span.in-grey-600 Subtotal
            %td
              %span.font-16.in-gold-500 $19.99
    .hidden-xs.divider-lg.pt-20
      %table.table.table-hover
        %thead
          %tr
            %th
              %span.in-grey-600 Book
            %th.col-method
            %th
              %span.in-grey-600 Price
            %th
              %span.in-grey-600 Quantity
            %th
              %span.in-grey-600 Total
      %tbody
        %tr
          %td
            .general-img-wrap-table
              %img.cart-img-shadow.pull-left{src: 'https://images-na.ssl-images-amazon.com/images/I/81Kq0YS4lzL.jpg', alt: "design-book"}
          %td
            %p.title HP and PS
            %p.in-grey-600.fw-300 Description
          %td
            %span.font-16.in-gold-500 $19.99
          %td
            %span.ml-30 1
          %td
            %span.font-16.in-gold-500 $19.99
    .text-center.general-text-right
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table.general-summary-table-right.general-text-right
        %tr
          %td
            %p.font-16 Order Total:
          %td
            %p.font-16 $39.98
    .text-center
      %button.btn.btn-default.mb-20 Back to Store
