%main.container.general-main-wrap
  %h1.general-title-margin Checkout
  = render 'steps'

  .row.mb-20
    .col-sm-3
      %h3.general-subtitle Shipping Address
      %p.general-address
        John
        %span.general-edit Edit
        %br
        1111
        %br
        2222
        %br
        3333
        %br
        4444
    .col-sm-3
      %h3.general-subtitle Billing Address
      %p.general-address
        John
        %span.general-edit Edit
        %br
        1111
        %br
        2222
        %br
        3333
        %br
        4444
    .col-sm-3
      %h3.general-subtitle Shipments
      %p.general-address
        Delivery Next Day
        %span.general-edit Edit
        %br
        By plain
    .col-sm-3
      %h3.general-subtitle Payment Information
      %p.general-address
        **** **** **** 1234
        %span.general-edit Edit
        %br
        11/2021
  .visible-xs
    .general-cart-item.divider-lg
      .general-img-wrap-table
        %img.cart-img-shadow{src: 'https://images-na.ssl-images-amazon.com/images/I/81Kq0YS4lzL.jpg', alt: "design-book"}
      %p.title HP and PS
      %p.in-grey-600.fw-300 Description
      %table.table
        %tr
          %td
            %span.in-grey-600 Price
          %td
            %span.font-16.in-gold-500 $19.99
        %tr
          %td.vertical-middle
            %span.in-grey-600 Quantity
          %td
            %span 1
        %tr
          %td
            %span.in-grey-600 Subtotal
          %td
            %span.font-16.in-gold-500 $19.99
    .general-cart-item.divider-lg
      .general-img-wrap-table
        %img.cart-img-shadow{src: 'https://images-na.ssl-images-amazon.com/images/I/81Kq0YS4lzL.jpg', alt: "design-book"}
      %p.title HP and PS
      %p.in-grey-600.fw-300 Description
      %table.table
        %tr
          %td
            %span.in-grey-600 Price
          %td
            %span.font-16.in-gold-500 $19.99
        %tr
          %td.vertical-middle
            %span.in-grey-600 Quantity
          %td
            .input-group
              %a.input-link{href: "#"}
                %i.fa.fa-minus.line-height-40
              %input.form-control.quantity-input{type: "text"}
              %a.input-link{href: "#"}
                %i.fa.fa-minus.line-height-40
        %tr
          %td
            %span.in-grey-600 Subtotal
          %td
            %span.font-16.in-gold-500 $19.99
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        %tr
          %td
            .general-img-wrap-table
              %img.cart-img-shadow{src: 'https://images-na.ssl-images-amazon.com/images/I/81Kq0YS4lzL.jpg', alt: "design-book"}
          %td
            %p.title HP and PS
            %p.in-grey-600.fw-300 Description
          %td
            %span.font-16.in-gold-500 $19.99
          %td
            %span.ml-30 1
          %td
            %span.font-16.in-gold-500 $19.99
  .text-center.general-text-right
    = render 'order_summary'
  .text-center
    = button_to "Place order", wizard_path, method: :put, class: 'btn btn-default mb-20'






