%main.container.mb-res-50
  %h1.general-title-margin Checkout
  = render 'steps'
  %h3.general-subtitle Credit Card
  %form.max-600.mb-80
    .form-group.has-error
      %label.control-label.input-label{for: "cardNumber"} Card Number
      %input#cardNumber.form-control{type: "number", name: "cardnumber", placeholder: "Card Number"}
      %span.help-block Please enter valid credit card number
    .row
      .col-sm-6
        .form-group
          %label.control-label.input-label{for: "ccName"} Name of credit card holder
          %input#ccName.form-control{type: "text", name: "ccname", placeholder: "Name on Card"}
      .col-sm-3
        .form-group
          %label.control-label.input-label{for: "expDate"} MM/YY
          %input#expDate.form-control{type: "text", name: "exp-date", placeholder: "MM/YY"}
      .col-sm-3
        .form-group
          %label.control-label.input-label{for: "cVV"} CVV
          %input#cVV.form-control{type: "number", name: "cvv", placeholder: "***"}
          %i.fa.fa-question-circle.general-form-help
  .general-text-align
    = render 'order_summary'
  .text-center
    -#%button.btn.btn-default.mb-80 Save and Continue
    = link_to "Save and Continue", next_wizard_path, class: "btn btn-default mb-80"
